.nav-link {
    font-weight: 500;
    font-size: 20px;
    padding: 0;
  }



  .nav-link:hover {
    background-color: white;
  }

  @media only screen and (max-width: 600px) {
    .nav-link {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }